services:
  app:
    image: interview-hub:0.0.1-SNAPSHOT
    ports:
      - "8080:8080"
    environment:
      DB_URL: ${DB_URL}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      JWT_ISSUER_URI: https://${SUPABASE_IDENTIFIER}.supabase.co/auth/v1
      JWT_JWK_SET_URI: https://${SUPABASE_IDENTIFIER}.supabase.co/auth/v1/.well-known/jwks.json
    env_file:
      - path: .env
        required: false
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      start_period: 30s
      retries: 3
