:host {
  display: flex;
  height: 100vh;
  width: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 100%;

  h1 {
    font-size: 2.5rem;
    margin: 0;
  }
}
